.icon--arrow--down {
  width: 0.813em;
  height: 3.625em;
}

.icon--arrow--left {
  width: 3.625em;
  height: 0.813em;
}

.icon--arrow--play {
  width: 0.813em;
  height: 0.875em;
}

.icon--arrow--up {
  width: 0.813em;
  height: 3.625em;
}

.icon--arrow--right {
  width: 3.625em;
  height: 0.813em;
}

.icon--arrow-small--down {
  width: 0.563em;
  height: 2.25em;
}

.icon--arrow-small--left {
  width: 2.25em;
  height: 0.563em;
}

.icon--arrow-small--right {
  width: 2.25em;
  height: 0.563em;
}

.icon--arrow-small--up {
  width: 0.563em;
  height: 2.25em;
}

.icon--benefit__bike {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__check {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__child {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__drink {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__money {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__pet {
  width: 1.25em;
  height: 1.25em;
}

.icon--benefit__time {
  width: 1.25em;
  height: 1.313em;
}

.icon--benefit__travel {
  width: 1.25em;
  height: 1.25em;
}

.icon--bornoriginal {
  width: 12.5em;
  height: 2.75em;
}

.icon--calendar {
  width: 1em;
  height: 1em;
}

.icon--checkmark {
  width: 0.813em;
  height: 0.813em;
}

.icon--contact {
  width: 1.938em;
  height: 2.063em;
}

.icon--logo {
  width: 5.813em;
  height: 3.75em;
}

.icon--play {
  width: 4.25em;
  height: 4.25em;
}

.icon--select-arrow {
  width: 1.125em;
  height: 0.688em;
}

.icon--social__email {
  width: 1.125em;
  height: 0.875em;
}

.icon--social__facebook {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__google-plus {
  width: 1.5em;
  height: 0.938em;
}

.icon--social__google {
  width: 0.938em;
  height: 0.938em;
}

.icon--social__instagram {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__linkedin {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__pinterest {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__spotify {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__twitter {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__vimeo {
  width: 1.125em;
  height: 0.938em;
}

.icon--social__web {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__youtube {
  width: 1.188em;
  height: 0.875em;
}

.icon--story {
  width: 8.375em;
  height: 8.688em;
}

.icon--upload {
  width: 1em;
  height: 1em;
}

