{% include '/templates/html/head.twig' %}


{% block sitehead %}
    {% include '/organisms/site-head/index.twig' %}
{% endblock %}

<main class="site-main" id="site-main" tabindex="-1" aria-label="Main Content">

    {% block pagehead %}
        {% include '/organisms/page-head/'~titles.style|default('index')~'.twig' with titles|default({}) %}
    {% endblock %}

    {% block content %}{% endblock %}
</main>

{% block sitefoot %}
    {% include '/organisms/site-foot/index.twig' %}
{% endblock %}

{% include '/templates/html/foot.twig' %}
