$animation-duration:0.16667s!default;
$animation-easing:ease!default;

@mixin base-transition($properties...) {
    $transition: ();
    $will-change: ();

    @each $property in $properties {
        $transition:  append($transition,  $property $animation-duration $animation-easing, comma);
        $will-change: append($will-change, $property, comma);
    }

    transition: $transition;
    //will-change: $will-change;
}



$visibility-animation-duration:1.5s!default;
$visibility-animation-easing:ease!default;


@mixin visibility-transition($properties...) {
    $transition: ();
    $will-change: ();

    @each $property in $properties {
        $transition:  append($transition,  $property $visibility-animation-duration $visibility-animation-easing, comma);
        $will-change: append($will-change, $property, comma);
    }

    transition: $transition;
    //will-change: $will-change;
}
