@function isNamedColor($name, $list: null) {
    $list: if(type-of($list) == map, $list, $colors);

    @if type-of($name) == map {
        @return false;
    } @else if type-of($name) == list {
        $name: nth($name, 1);
    }


    $colorKeys: map-keys($list);

    $i: 1;

    @each $key in $colorKeys {
        $colorKeys: set-nth($colorKeys, $i, inspect($key));

        $i: $i+1;
    }

    $index: index($colorKeys, inspect($name));

    @return type-of($index) == number and $index > 0;
}

@function _color($name, $list, $types...) {

    @if not isNamedColor($name, $list) {
        @error "The color #{$name} does not exist.";
        @return null;
    }

    $data: map-get($list, $name);
    $return: null;

    @if isNamedColor($data) {

        $return: color($data...);

    } @else if isNamedColor($data, $list) {

        $name: nth($data, 1);
        $data: remove-nth($data, 1);

        $return: _color($name, $list, $data...);

    } @else if type-of($data) == map {

        @if $types and length($types) < 1 {
            $types: (color);
        }

        $type: nth($types, 1);
        $rest: remove-nth($types, 1);

        @if map-has-key($data, $type) {

            @if isNamedColor($type, $data) {

                $return: _color($type, $data, $rest...);

            } @else {

                $return: $data;

            }

        } @else if isNamedColor(color, $data) {

            $color: _color(color, $data);

            @if $type == light {

                $return: lighten($color, 10%);

            } @else if $type == dark {

                $return: darken($color, 10%);

            } @else if $type == text or $type == readable or $type == head {

                $return: readable-color($color);

            }

        } @else {

            @error "Could not find color #{$name} (#{$types}) in #{$data}";

        }

    } @else {

        $return: $data;

    }

    @return $return;
}

@function color($name, $types...) {
    @return _color($name, $colors, $types...);
}
