@function drop-shadow($angle: 90, $distance: 0, $spread: 0, $size: 0, $color: rgba(0,0,0,1)) {
    $angle: 180deg - $angle;

    $offsetX: round(cos($angle) * $distance);
    $offsetY: round(sin($angle) * $distance);

    $spreadRadius: ($size * $spread) / 100px;
    $blurRadius:   ($size - $spreadRadius);

    @return "#{$offsetX} #{$offsetY} #{$blurRadius} #{$spreadRadius} #{$color}";
}
