@mixin font-family($font, $name, $weight: 400, $style: normal) {
    @font-face {
        $name: if($style != normal, "#{inspect($name)}-#{inspect($style)}", $name);

        font-family: $font;
        src: url("../fonts/#{$font}/#{inspect($name)}.eot") format("eot");
        src: url("../fonts/#{$font}/#{inspect($name)}.eot?#iefix") format("embedded-opentype"),
             url("../fonts/#{$font}/#{inspect($name)}.woff2") format("woff2"),
             url("../fonts/#{$font}/#{inspect($name)}.woff") format("woff");
        font-weight: $weight;
        font-style: $style;
    }
}
