@mixin heading-size($level:1, $function: rem, $base-size: 16px) {
    @if not map-has-key($heading-sizes, $level) {
        @error "The heading level `#{$level}` does not exist.";
    }


    $data: map-get($heading-sizes, $level);
    $sizes: map-get($data, sizes);

    @if type-of($sizes) == 'map' {

        @each $query, $size in map-get($data, sizes) {
            $size: if($function==rem,rem($size),em($size, $base-size));

            @include mq($query) {
                font-size: $size;
            }
        }

    } @else {
        $size: if($function==rem,rem($sizes),em($sizes, $base-size));
        font-size: $size;

    }
}
