@mixin image-set($images...) {
    $first-image-set:   nth($images, 1);
    $first-image:       nth($first-image-set, 1);

    $webkit-string: ();

    $prefixes: webkit moz ms;

    @each $image in $images {
        $image-url:     nth($image,1);
        $image-scale:   nth($image,2);

        $webkit-string: append($webkit-string, unquote('url(#{$image-url}) #{$image-scale}'), comma);
    }

    background-image: url($first-image);

    //background-image: -webkit-image-set($webkit-string);
    //background-image: -webkit-image-set($images);
    //background-image: -moz-image-set($images);
    //background-image: -ms-image-set($images);
    background-image: image-set($images);
}
