/**
 * Calculates the luminosity value of a supplied color
 *
 * From:
 * https://gist.github.com/voxpelli/6304812
 */
@function luma($color) {
    $rgba: red($color), green($color), blue($color);
    $rgba2: ();
    @for $i from 1 through 3 {
        $rgb: nth($rgba, $i);
        $rgb: $rgb / 255;
        $rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
        $rgba2: append($rgba2, $rgb);
    }
    @return (.2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3))*100;
}


/**
 * Calculates contrast differece as a decimal through luminosity of two colors
 */
@function contrast_ratio($color1, $color2) {
    $luma1: luma($color1) + 5;
    $luma2: luma($color2) + 5;
    $ratio: $luma1 / $luma2;
    @if $luma1 < $luma2 {
        $ratio: 1 / $ratio;
    }
    @return $ratio;
}


/**
 * Generates an “accessible” color (usually for text), given a supplied
 * background color e.g.:
 *
    `color: readable-color(#fff);`
 *
 * Whereby the first color is the backround, and the (optional) second is the
 * starting color. For example, if you wanted to have red text on the
 * background, it will generate the closest readable color to your second
 * arguement.
 *
 * By default, the color try to will adhere to the WCAG ‘Enhanced Contrast’
 * (Level AAA) guideline, requiring a contrast ratio of 7 or more. This
 * threshold can be changed, in order to generate a less contrasting color.
 */
@function readable-color($color, $bg: #fff, $threshold: 7) {
    $ratio: contrast_ratio($bg, $color);

    @if ($ratio >= $threshold) {
        @return $color;
    }

    $percents: 20 30 40 50 60 70 80 90 100;

    @each $percent in $percents {
      $lighter: lighten($color, $percent);
      $lighter-ratio: contrast_ratio($bg, $lighter);


      $darker: darken($color, $percent);
      $darker-ratio: contrast_ratio($bg, $darker);

      @if($lighter-ratio >= $darker-ratio) {
        @if ($lighter-ratio >= $threshold) {
          @return $lighter;
        }
      }

      @if($darker-ratio > $lighter-ratio) {
        @if ($darker-ratio >= $threshold) {
          @return $darker;
        }
      }
    }

    @if($threshold > 4.5) {
        @return if(lightness($bg) < lightness(#787878), #FFF, #000);
    } @else {
        @return if(lightness($bg) < lightness(#999), #FFF, #000);
    }
}
