<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="application-name" content="{{ site.name }}">

    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}">
    {{ action('analytics_noscript') }}